<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css">
    <title>Data Tables - eliminados</title>
  </head>
  <body>

    <div class="container p-4" style="width:80%">
        <table id="example" class="table table-striped">

            <thead class="bg-dark text-light">
                <%  let key = Object.keys(resultados[0]) %>
                <tr>
                    <th>Check</th>
                    <th> <%= key[0] %> </th>
                    <th> <%= key[1] %></th>
                    <th> <%= key[2] %></th>
                    <th> <%= key[3] %></th>
                    <th> <%= key[4] %></th>
                    <th> <%= key[5] %></th>
                    <th>
                        <a href="/create" class="btn btn-light">Create</a> 
                    </th>
                </tr>
                <%  %>
            </thead>
            
            <tbody>
                <% resultados.forEach((user) => { %>
                    <tr>
                        <td><input class="form-check-input" type="checkbox" id="check" value="<%= user.ID %>" onchange="checkTwo(this, value)"></td>
                        <td><%= user.ID %> </td>
                        <td><%= user.Nombre %> </td>
                        <td><%= user.Edad %> </td>
                        <td><%= user.Pais %> </td>
                        <td><%= user.Posicion %> </td>
                        <td><%= user.COD_Equipo %> </td>
                        <td>
                            <a href="/recuperar/<%= user.ID %>"       class="btn btn-outline-secondary" >Recuperar</a>
                            <a href="/delete2/<%= user.ID %>"      class="btn btn-outline-danger" id="delete" onclick="veryDelete()">Delete</a>
                        </td>
                    </tr>
                    <% }) %>        
            </tbody>

        </table>


        <section class="container">

                <div class="row">
                    <div class="col">
                        <div>
                            <input class="form-check-input" type="checkbox" value="" id="checkAll" onchange="checkAll(this)">
                            <label class="form-check-label" for="flexCheckDefault">
                                Select All
                            </label>
                        </div>
                    </div>

                    <div class="col">
                        <div>
                            <a href="#" class="btn btn-secondary" id="btn-recover" >Recover</a>
                            <a href="#" class="btn btn-danger"    id="btn-delete" onclick="verifyCation()" >Delete</a>
                            <a href="/" class="btn btn-primary"   id="index" >Volver al Inicio</a>
                        </div>
                    </div>

                    <div class="col">
                        
                    </div>
                </div>

        </section>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
    <script src="./script.js"></script>
   
        
</body>
</html>
